.right{
    text-align: right !important;
    margin-right:5px;
}
.center{
    text-align: center;
}
.pad{
    padding: 0;
    align-items: center !important;
    text-align: center;
}
*{
    overflow-y: auto;
    overflow-x: hidden;
}