.right{
    text-align: right !important;
    margin-right:5px;
}
.center{
    text-align: center;
}
.pad{
    padding: 0;
    align-items: center !important;
    text-align: center;
}
*{
    overflow-y: auto;
    overflow-x: hidden;
}
.alert{
    color: #348a1f;
    font-size: 5vw;
    padding: 10px;
    margin-left: 10%;
}
input[type="checkbox"]{
    font-size: 35px !important;
}
.check{
    font-size: 20px !important;
}