<app-header></app-header>
<ion-progress-bar color="primary" type="indeterminate" *ngIf="loader"></ion-progress-bar>
<ion-grid style="width: 100% !important; background-color: #ffcc00">
  <div class="pad">
    <img src="../../../assets/img/newLogo.png" width="210" class="logo">
    <h5 class="center"> {{ levelName }}/Select your Subjects</h5>
  </div>
  <hr style="border-top: 1px solid #49483d;">
<h6 *ngIf="!subjectCheck">Seleted <b>{{ count }}</b></h6>
<form *ngIf="!subjectCheck">
  <!-- {{ selectedSubject.value | json }} -->
  <ion-row *ngFor="let subject of subjects">
      <ion-col size-md="6" size-xs="6">
        <img src="{{ apiDir }}/{{ subject.logo }}" style="border-radius: 10px;">
      </ion-col>
      <ion-col size-md="6" size-xs="6">
        <p><b style="padding-bottom: 5px; font-size: 18px;">{{ subject.name }}</b><br> {{ subject.author }} <br> {{ subject.topic }} topics</p>
        <div class="right" >
          <input type="checkbox" name="options" color="primary" (click)="pushId(subject.id)" class="check">
        </div>
      </ion-col>
      <hr style="border-top: 1px solid #f7f6eb; width: 100%;">
  </ion-row>
  <ion-row>
    <ion-label class="alert" style="align-items: center; text-align: center;">You seleted a total of <b>{{ count }} </b> {{ count == 0 ||  count == 1 ? 'subject':'subjects' }} </ion-label>
    <ion-col size-xs="6" offset-xs="3">
      <ion-button color="primary" style="width: 100%; align-items: center; text-align: center;" [disabled]="count==0" (click)="submitValue()">Submit</ion-button>
    </ion-col>
  </ion-row>
</form>
</ion-grid>
