<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-spinner name="danger" class="loader"></ion-spinner>
        <i class="fa ion-text-lg-right ion-text-md-right"></i>
        <ion-label class="contact">{{ "Contact us" }}</ion-label>
      </ion-title>
      <ion-label (click)="dismiss()" class="right">close</ion-label>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row>
    <ion-col size-xs="12">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header center" style="height:50px;">
            <h5 id="exampleModalLabel">Call Option</h5>
          </div>
          <div class="modal-body">
            <div class="border-call">
              <a class="btn btn-default border" href="tel:+237652137960"
                style="padding-left:3; cursor:pointer;color:#ff8800" data-value="(+237) 652 137 960">
                <ion-icon ios="ios-call-outline" md="call-outline" style="font-size: 20px;"></ion-icon>
                Click to call us <b>+237652137960</b>
              </a>
              <br />
            </div>

            <div class="border-blue ion-padding-top">
              <a class="nav-link text-black"
              href="https://api.whatsapp.com/send?phone=237652137960&text={{ 'hello ohipopo.org, i need help?' }}"
               style="padding-left: 3">
                <ion-icon slot="start" ios="logo-whatsapp" md="logo-whatsapp" style="color: #4edb4e; font-size: 20px;" ></ion-icon>
                {{ "Contact us via whatsapp" }}</a>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size=12>
      <ion-item>
        <ion-label class="ion-text-center center content">{{ "Ohipopo is also on Social Media" }}</ion-label>
      </ion-item>
      <ion-list>
        <h5 class="ion-padding label">{{ "Follow us on" }}</h5>
        <ion-list class="nav-icon">
          <ion-menu-toggle>
            <ion-item (click)="facebook()">
              <ion-icon class="facebook" ios="logo-facebook" md="logo-facebook"></ion-icon>
              <ion-label class="label">Facebook</ion-label>
            </ion-item>
            <ion-item (click)="instagram()">
              <ion-icon ios="logo-instagram" md="logo-instagram" class="instagram"></ion-icon>
              <ion-label class="label">Instagram</ion-label>
            </ion-item>
            <ion-item (click)="youTube()">
              <ion-icon class="youtube" ios="logo-youtube" md="logo-youtube"></ion-icon>
              <ion-label class="label">YouTube</ion-label>
            </ion-item>
            </ion-menu-toggle>
          </ion-list>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-footer>
  <ion-toolbar>
    <ion-title class="title">{{ "Ohipopo.org" }} </ion-title>
  </ion-toolbar>
</ion-footer>
