<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/payment"></ion-back-button>
    </ion-buttons>
    <ion-title class="center" style="font-size: 15px;">You selected Orange Money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../../assets/img/orange.png" style="width: 100%; height: 250px; padding-top: 5px;">
  <h4 style="padding: 15px; color: #000; background-color: #bbf3bb; text-align: justify; justify-content: baseline; margin-top: -15px !important;">
  <em>
    You are about to make a deposite of {{ '800 XCFA' }}
   to Ohipopo.org, Please have your mobile Phone beside You, 
   and be ready to confirm the pop up or dial #150*50# and confirm your payment.
  </em> <br>
  <b style="color: #ff5e00;">You have a maximun of 120 seconds for this transaction, 
    please do it as fast as you receive the notification</b>
</h4>
<ion-grid>
  <ion-row>
    <ion-col size-xs="12">
      <ion-item>
        Name:<div style="margin-left: 25%; font-size: 23px;"> <ion-label>{{ user?.fullName}}</ion-label></div>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-xs="12">
      <ion-item>
       <ion-label position="floating">Enter your Phone Number:</ion-label> &nbsp;&nbsp;&nbsp;
        <ion-input name="phone" type="number" [value]="user?.phoneNumber" #number></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size-xs="10" offset-xs="1" class="margin-top">
      <ion-button color="danger" routerLink="/public/home" style="float: left; width: 30%;" [disabled]="disable">Cancel</ion-button>
      <ion-button *ngIf="!spinner" color="success" style="width: 60%; align-items: center; float: right !important;" (click)="makePayment(number.value, user?.fullName)" [disabled]="disable">Make Payment</ion-button>
      <ion-button *ngIf="spinner" color="secondary" style="width: 60%; align-items: center; float: right !important;">
        <div class="spinner">
          <ion-spinner name="lines" color="danger"></ion-spinner>
        </div>
        <div class="spinner1">
          <ion-spinner name="lines" color="danger"></ion-spinner>
        </div>
        <div class="spinner2">
          <ion-spinner name="lines" color="danger"></ion-spinner>
        </div>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
