ion-menu-button {
    color: var(--ion-color-primary);
  }
  .color{
    color: #ffffff !important;
    font-size: 50px;
  }
  .col{
    font-size: 20px;
    color: #000000 !important;
  }
  .right{
    padding: 10px;
    top: 3px;
    font-size: 30px;
    color: #ffffff;
    right: 5px;
    position: absolute;
    z-index: 1000;
  }
*{
    overflow: hidden;
}
.text-small{
  font-size: 16px !important;
}