<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/public/home"></ion-back-button>
    </ion-buttons>
    <ion-title><b *ngIf="userInfos">{{userInfos.fullName.split(' ')[0] | uppercase}},</b> Welcome to Ohipopo.org </ion-title>
  </ion-toolbar>
  <div class="right" style="margin-top: -35px; position: relative; z-index: 1000;">
    <ion-icon slot="start" name="notifications-outline" class="ion-float-right col"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-icon slot="start" name="search-outline" class="ion-float-right col"></ion-icon>
  </div>
</ion-header>
