.image-link{
    border: 1px solid #ccc;
}
h6{
    color: #5f4d4d !important;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: bold;
    text-justify: inter-word;
    text-align: center;
}

div.image-link {
    text-align: center;
    align-items: center;
    height: 250px !important;
}
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  .centered {
    position: absolute;
    top: 13px;
    left: 26%;
    transform: translate(-15%, -15%);
  }  
  .time{
      font-size: 10vw;
  } 
  .date{
      position: relative;
      font-size: 5vw;
      margin-top:20px;
  }
.card{
    height: 150px !important;
    width: fit-content;
    position: fixed;
    top: 200px;
    left: 70px;
    z-index: 1000;
    box-shadow: 6px 6px 8px 8px  #1a19194d;
    background-color: white;
}
.cross{
    float: right !important;
    color: #ff0000;
    font-size: 30px;
    padding: 8px;
}
.card-content{
    text-align: center !important;
    margin: 3px;
    padding :15px;
}
.white{
    font-size: 30px;
}