<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu" class="white"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: 16px;">
      <b *ngIf="userInfos">{{userInfos.fullName.split(' ')[0] | uppercase}}, Welcome to Ohipopo.org</b>
    </ion-title> <i class="fa fa-ellipsis-v e-v ion-text-lg-right ion-text-md-right"></i>
  </ion-toolbar>
<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
</ion-header>
<ion-grid>
  <ion-row>
    <!-- <ion-col>
      <ion-input type="file"></ion-input>
      <ion-label position="floating">select the file</ion-label>
    </ion-col> -->
    <h3 style="padding: 10px; text-align: center; color: goldenrod;">Comming Soon..</h3>
  </ion-row>
</ion-grid>