
  <video playsinline no-padding preload="auto" 
          [attr.src]="defaultUrl" 
          controls width="100%"
          controlsList="nodownload" 
          seekable autoplay>   
  </video>

<div class="bar">
  <div class="left"><b>{{ subjectName }}</b><br><small>{{ subjectAuthor }}</small></div>
  <div class="right">306K<br>views</div>
</div>
<ion-content>
  <hr style="border-top: 1px solid #ccc;">
<ion-grid>
  <ion-row>
    <ion-col>
      <i class="fa fa-thumbs-up"></i><br> <label>10k</label>
    </ion-col>
    <ion-col>
      <i class="fa fa-thumbs-down"></i><br> <label>1.4k</label>
    </ion-col>
    <ion-col>
      <i class="fa fa-share"></i><br> <label>Share</label>
    </ion-col>
    <ion-col>
      <i class="fa fa-arrow-circle-o-down"></i><br><label>Download</label>
    </ion-col>
    <ion-col>
      <i class="fa fa-ellipsis-v"></i><br> <label>More</label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-xs="4"><h5 class="active">Curriculum </h5></ion-col>
    <ion-col size-xs="4"><h5>Overview</h5></ion-col>
    <ion-col size-xs="4"><h5>Q&A <ion-badge color="warning">99+</ion-badge></h5></ion-col>
    <ion-col size-xs="12" style="margin-top:-20px !important">
    <hr style="border-top:1px solid #000; width:100%; position: absolute; left: 0;">
    </ion-col>
    <ion-col>
      <ion-slides>
        <ion-slide style="margin-top:-3px !important;">
          <ion-item class="slide">
            <div class="label" style="margin-left:64% !important">
              <ion-label position="floating">Filter by Topic</ion-label><br>
              <input list="browsers">
              <datalist id="browsers">
                  <option *ngFor="let topic of allTopics" [value]="topic.topicName"></option>
              </datalist>
            </div><br>

            <ion-row  *ngFor="let video of videos | keyvalue" style="border-bottom: 1.5px solid #000; margin-top: -45px;">
              <div class="ion-text-left h6"> {{ video.key }} 31 lecture video</div><br>
              <div *ngFor="let value of video.value; let i = index">
                <ion-row style="border-bottom: 1px solid #ccc; border-radius: 7px;">
                  <ion-col size-xs="6">
                    <video playsinline no-padding preload="auto" style="border-radius: 10px;" width="100%" (click)="playVideo(value.videoUrl, i)">
                      <source src="{{ value.videoUrl }}" type="video/mp4" />
                    </video>
                  </ion-col>
                  <ion-col size-xs="6">
                    <div style=" font-size: 18px; margin-top: 40px !important; text-align: left;">
                      <b>{{ value.videoName }}</b><br> 
                      <small> {{ subjectAuthor }}</small>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-row>
            
          </ion-item>
        </ion-slide>
  
        <ion-slide>
          <img src="../../../assets/img/orange.png"/>
          <h2>What is ohipopo Appflow?</h2>
          <p><b>ohipopo Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
        </ion-slide>
  
        <ion-slide>
          <img src="../../../assets/img/shop.png"/>
          <h2>Ready to shop?</h2>
          <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>
  
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
