.left{
    float: left !important;
    font-size: 15px;
    max-width: 50%;
}
.right{
    float: right !important;
    color: #288828;
    font-size: 15px;
}
.left,.right{
    padding: 10px !important;
}

i{
    font-size: 18px;
    padding: 5px;
}
label{
    font-size: 15px;
    color: #2e27279d;
}
ion-col{
    text-align: center;
}

ion-label.h6{
    padding: 10px;
    color: #000;
    text-align: center !important;
    font-size: 15px;
    font-weight: bold;
}
h6.label{
    font-size: 18px; 
    padding-top: 0px !important; 
    padding: 10px; 
    text-align: left;
}
small{
    color: #110f0fc7;
    margin-top: 5px !important;
}
div.label{
font-size: 18px;
float: right !important;
width:40%;
position: relative;
}
.heading{
    color: black;
    font-size: 3.5vw;
}
.swiper-slide {
display: block;
}

h5{
    color: #2c26269d;
    margin: 5px;
    margin-top: 25px;
    font-size: 18px;
    text-transform: capitalize !important;
}

ion-badge{
    border-radius: 40%;
}
.slide{
    border: 1px solid #ccc;
   height: fit-content;
}
.filter-search{
    position: relative;
    left: 20px;
    padding: 10px;
}
ion-slides{
    min-height: fit-content !important;
}
.indicator{
    color: green;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.alert{
    width: 100%;
    color: #4f74d8;
    background-color: #dceef8;
    padding-top:3px;
    padding-bottom:2px;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-style: italic;
  }
  .loader{
      font-size: 30px !important;
      color: orange;
      margin-left: 40%;
  }
  .eye{
    float: left !important;
    padding: 5px;
    margin-top: -14px !important;
    margin: 4px;
    color: #288828;
}