<video playsinline preload="auto" 
            [attr.src]="defaultUrl" 
            controls
            width="100%"
            height="280em"
            controlsList="nodownload" 
            seekable
            
            >   
</video>
<ion-grid no-padding style="padding: 0 !important; margin: 0 !important">
  <ion-row>
    <ion-col>
      <div class="bar">
        <div class="left"><b>{{ subjectName }}</b><br><small>{{ subjectAuthor }}</small></div>
        <div class="right">{{ view }}<br>views</div>
      </div>
    </ion-col>
  </ion-row>
  <hr style="border-top: 1px solid #ccc; margin-top: -15px;">
<ion-progress-bar type="indeterminate" *ngIf="load"></ion-progress-bar>


<ion-content>
  <ion-row>
    <ion-col>
      <i #vidLike class="fa fa-thumbs-up" (click)="likeVideo('like')"></i><br> <label>{{ like }}</label>
    </ion-col>
    <ion-col>
      <i class="fa fa-thumbs-down" (click)="likeVideo('dislike')"></i><br> <label>{{ dislike }}</label>
    </ion-col>
    <!-- <ion-col>
      <i class="fa fa-share"></i><br> <label>Share</label>
    </ion-col>
    <ion-col>
      <i class="fa fa-arrow-circle-o-down"></i><br><label>Download</label>
    </ion-col> -->
    <!-- <ion-col>
      <i class="fa fa-ellipsis-v"></i><br> <label>More</label>
    </ion-col> -->
  </ion-row>
  <hr style="border-top:1px solid #ccc; width:100%; position: absolute; left: 0;z-index: 9999;">
  <ion-toolbar no-header>
    <ion-row>
      <ion-segment mod="md" [(ngModel)]="segment" (ionChange)="segmentchange($event)">
        <ion-col size-xs="4">
          <ion-segment-button value="0">
            <h5 class="active">Curriculum</h5>
          </ion-segment-button>
        </ion-col>
        <ion-col size-xs="4">
          <ion-segment-button value="1">
            <h5>Overview </h5>
          </ion-segment-button>
        </ion-col>
        <ion-col size-xs="4">
          <ion-segment-button value="2">
            <h5>Q&A 
              <!-- <ion-badge color="warning">99+</ion-badge> -->
            </h5>
          </ion-segment-button>
        </ion-col>
      </ion-segment>
    </ion-row>
  </ion-toolbar>
  <hr style="border-top:1px solid #000; width:100%; position: absolute; left: 0;"><br>
  <!-- slides -->
  <ion-slides #slides pager="true" [options]="slideOptions" (ionSlideDidChange)="slideChanged(slides)" (ionSlidesdidLoad)="slideChanged(slides)">
    <ion-slide class="slide1" style="margin-bottom:auto 0px">
      <ion-item>
      <div class="filter-search">
        <ion-label position="floating">Filter by Topic</ion-label><br>
        <input type="text" list="browsers"/>
        <datalist id="browsers">
            <option *ngFor="let topic of allTopics" [value]="topic.topicName"></option>
        </datalist>
      </div>
        <ion-row *ngFor="let video of videos, let i = index" style="border-bottom: 1.5px solid #000;">
          <div class="ion-text-left h6"> {{ video.topicName }} {{ video.topicVideo[0] ? video.topicVideo[0].totalVideo:'' }} lecture video</div><br>
          <div *ngFor="let sub of video.topicVideo, let j = index">
            <ion-item  (click)="playVideo(sub.videoUrl, sub.videoName, sub.vId, sub.likes, sub.dislikes, sub.totalView)" size-xs="12" size-sm="12">
              <ion-row style="border-bottom: 1px solid #ccc; border-radius: 7px;">
                <ion-col size-xs="6">
                  <video playsinline preload="auto" [attr.src]="sub.videoUrl" style="border-radius: 1px;" width="100%">
                  </video>
                </ion-col>
                <ion-col size-xs="6">
                  <!-- <div style=" font-size: 18px; margin-top: 10px !important; text-align: left;">
                    <b>{{ sub.videoName }}</b><br> 
                    <small> {{ subjectAuthor }}</small>
                  </div> -->
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </ion-row>
      </ion-item>
      <br><br><br><hr><hr>
    </ion-slide>

    <ion-slide>
      <!-- <img src="../../../assets/img/orange.png"/> -->
      <h2>What is ohipopo Appflow?</h2>
      <p><b>ohipopo Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to Ohipopo teams.</p>
    </ion-slide>
    
    <ion-slide>
      <!-- <img src="../../../assets/img/shop.png"/> -->
      <h2>Question and answer?</h2>
      <ion-button fill="clear">comming soon ... <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
</ion-grid>
