$color: orange;
.left {
    float: left !important;
    font-size: 15px;
    max-width: 50%;
}

.right {
    float: right !important;
    color: #288828;
    font-size: 15px;
}

.left,
.right {
    padding: 10px !important;
}

i {
    font-size: 18px;
    padding: 5px;
}

label {
    font-size: 15px;
    color: #2e27279d;
}

ion-col {
    text-align: center;
}

ion-label.h6 {
    padding: 10px;
    color: #000;
    text-align: center !important;
    font-size: 15px;
    font-weight: bold;
}

h6.label {
    font-size: 18px;
    padding-top: 0px !important;
    padding: 10px;
    text-align: left;
}

small {
    color: #110f0fc7;
    margin-top: 5px !important;
}

div.label {
    font-size: 18px;
    float: right !important;
    width: 40%;
    position: relative;
}

.heading {
    color: black;
    font-size: 3.5vw;
}

.swiper-slide {
    display: block;
}

h5 {
    color: #2c26269d;
    margin: 5px;
    margin-top: 25px;
    font-size: 18px;
    text-transform: capitalize !important;
}

ion-badge {
    border-radius: 40%;
}

.slide {
    border: 1px solid #ccc;
    // height: fit-content;
}

.filter-search {
    // position: relative;
    left: 5%;
    padding: 0;
}

// ion-slides {
//     min-height: fit-content !important;
// }
.indicator {
    color: $color;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.alert {
    width: 100%;
    color: $color;
    background-color: #f8f6dc;
    font-size: 20px !important;
    text-align: center;
    font-family: 'Times New Roman';
    padding: 0px;
}

.loader {
    font-size: 40px !important;
    color: $color;
    margin-left: 40%;
    align-items: center;
    text-align: center;
}

.eye {
    float: left !important;
    padding: 5px;
    font-size: 13px;
    margin-top: -14px !important;
    margin: 4px;
    color: #2e27279d;
}