ion-toolbar {
    color: white;
    --background: #ffc409;
    ion-back-button {
        color: white;
    }
}

h4 {
    font-size: 18px;
    margin-top: 8px;
}

h6 {
    padding: 8px;
    font-size: 16px;
}

h6.point {
    font-size: 18px;
}

div.alert {
    color: #c25e5e;
    background-color: #f0dfdf;
    padding: 10px;
    border-radius: 8px;
    font-size: 17px;
}

label {
    margin: 7px;
    padding: 5px;
}