.center{
    text-align: center;
}
.card{
    background-color: #ffcc00;
}
.right{
    float: right;
    background-color: #0c0fc9;
    box-shadow: 2px 2px 4px 2px #000000;
}
ion-slides {
    height: 100%;
  }
.color{
    text-align: center;
    color: #ffffff;
}
.small{
    font-size: 15px;
}