@import '../../components/modal-page/modal-page.component.scss';
.spin {
    margin-left: 40%;
    font-size: 4px !important;
}
ion-label.i{
    font-size: 14px !important;
    text-align: left !important;
    color: #534c3ef1 !important;
}
ion-item{
    margin-top: -17px !important;
}
ion-label.i.download{
    font-size: 13px !important;
    margin-left: 23%;
    padding-top: 14px;
}

.message{
    padding: 10px;
}