<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-spinner name="danger" class="loader"></ion-spinner>
        <i class="fa ion-text-lg-right ion-text-md-right"></i>
        <ion-label class="contact">{{ "Transaction Detail" }}</ion-label>
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row style="border-bottom: 0.01rem solid #8d8675;">
      <ion-col size-xs="12">
          <h3 class="ion-text-center">All Transactions</h3>
      </ion-col>
    </ion-row>
    <ion-row style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-top: 5px;">
      <ion-col>
        nytjyngbh gbg
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
