<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/payment"></ion-back-button>
    </ion-buttons>
    <ion-title class="center">You selected MTN Mobile Money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../../assets/img/momo.jpeg" style="width: 100%; padding: 5px;">
  <h4 style="padding: 5px; color: orange;">
  Please have you mobile Phone beside Your, and be ready to dial *126# and confirm your payment to Ohipopo.org School</h4>
<ion-grid>
  <ion-row>
    <ion-col size-xs="12">
      <ion-item>
        Name:<div style="margin-left: 25%; font-size: 23px;"> <ion-label>{{ userInfo .fullName}}</ion-label></div>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-xs="12">
      <ion-item>
       <ion-label position="floating">Enter your Phone Number:</ion-label> &nbsp;&nbsp;&nbsp;
        <ion-input name="phone" type="number" [value]="userInfo.phoneNumber"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size-xs="10" offset-xs="1" class="margin-top">
      <ion-button color="warning" style="width: 100%; align-items: center; text-align: center;">Make Payment</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
