.margin-top{
    margin-top: 10%;
}
.spinner{
    position: fixed;
    height: 100px;
    top: 85%;
    left: 20%;
}
.spinner1{
    position: fixed;
    height: 100px;
    top: 85%;
    left: 40%;
}
.spinner2{
    position: fixed;
    height: 100px;
    top: 85%;
    left: 60%;
}